.coverImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

.textContainer {
    position: absolute;
    margin: 15vh 15vw 0vh 15vw;
}

h1 {
font-size: 14vh;
}

.textContainer p {
    margin-top: 18vh;
    margin-bottom: 10vh;
    font-size: 3vh;
}
