.profileInfoContainer {
display: flex;
flex: row;
margin: 2vh 10vw;
justify-content: space-between;
}

.profileDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileDetails div {
    margin-top: 1vh;
}

.profilePic {
    margin-bottom: 3vh;
    border: 1.5px solid rgba(0,0,0, .5);
    height: 25vh;
}

.profileDetails h2 {
    font-size: 4vh;
}

.genderPic {
    height: 4vh;
    margin-left: 1vw;
    margin-top: 1vh;
}

.profLabel {
    font-size: 2vh;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0,0,0, .5);
    text-decoration: underline;
}


.profText {
    font-size: 2vh;
}

.age {
margin-left: 1vw;
}

.profFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: red;
    padding: 1vh 2vw; */
}

.profButton {
    margin-top: 3vh;
    font-size: 1.5vh;
    padding: .8vw 1vw;
    width: 15vw;
    border: 1.5px rgba(0,0,0, .5) solid;
}

.profButton:hover {
    font-size: 1.5vh;
    padding: .8vw 1vw;
    width: 15vw;
    border: .5px white solid;
}

.profFormInput {
    border: 1px solid rgba(0,0,0, .5);
    border-radius: 0px;
    width: 30vw;
    height: 4.5vh;
    outline: none !important;
    padding: .5vh .5vw;
    text-align: center;
    font-size: 2vh;
    margin-bottom: 1vh;
    background-color: transparent;
    color: rgba(0,0,0, .5);
}

.profForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageInput {
    width: 15vw;
    font-size: 2vh;
    margin-top: 1vh;

}

select {
    border: 1px solid rgba(0,0,0, .5);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    width: 30vw;
    padding: .5vh .5vw;
    height: 4.5vh;
    background-color: transparent;
    color: rgba(0,0,0, .5);
    font-size: 2vh;
}
