
.comments {
  border: 1.5px rgba(0, 0, 0, 0.125) solid;
  margin: 0.1%;
}

.commentbox{
  width: 60vw;
}

.inbox {
  width: 40vw;
  padding: 0px;
  margin: 0px;
}

.detail{
  width: 60vw;
}

.container {
  padding: 0px;
  margin: 0px;
}

.row {
  width: 100vw; 
}