.formCreate{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 6em;
}

.createPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px #e0e0db solid;
  padding: 1.5em;
  background-color: #f9f9f4;
  width: 82vw;
  margin: 0.7em;
  outline: none;
}

.createPost input {
  border: 1px solid black;
  width: 50%;
  height: 6vh;
  padding: .5vh .5vw;
}

.createPost select {
  border: 1px solid black;
  width: 50%;
  padding: .5vh .5vw;
  height: 6vh;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;

}


.descriplionBar{
  padding: 1.5em;
}

.createHeading{
  color: #f19999
}

.createButton{
  background-color: #ffffff;
  border: 2px rgba(0,0,0, .5) solid;
  color: #000000;
  margin: 1em 0;
}

.createButton:hover{
  border: 2px white solid;
  margin: 1em 0;
}

label {
  margin-top: 2vh;
}