.postContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3vh 0vw 0vh 5vw;
}

.posterContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5vw;
}

.times {
    display: flex;
    flex-direction: row;
}

.headerBox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

h2 {
    color: #f19999;
    font-size: 5vh;
}

h3 {
    font-size: 2.5vh; 
    margin-left: 2vw;
}

.postDetailButton {
    margin-top: 3vh;
    font-size: 2vh;
    padding: .8vw 1vw;
    width: 15vw;
    border: 1.5px rgba(0,0,0, .5) solid;
}

.postDetailButton:hover {
    font-size: 2vh;
    padding: 1vw 1vw;
    width: 15vw;
    border: 0px white solid;
}

.messageButton {
    border: 1.5px rgba(0,0,0, .5) solid;
}

.messageButton:hover {
    border: 1.5px white solid;
}

.postLabel {
    font-size: 2vh;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0,0,0, .5);
    text-decoration: underline;
}

.postText {
    font-size: 3.5vh;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    margin: 2vh 0vw;
}

.item {
    margin-right: 3vw;
}

.messageLabel {
    text-transform: uppercase;
    font-size: 3vh;
}

.messageInput {
    margin: 5vh;
}