.addPostButton {
  background-color: #ffffff;
  margin-top: 2em;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  text-align: center;
  border: 2px rgba(0,0,0, .5) solid;
  padding: 2vh 2vw;
  width: 15vw;
  font-size: 2.5vh;
  outline: none !important;
}

.addPostButton:hover {
  background-color: rgba(0,0,0, .5);
  margin-top: 2em;
  text-decoration: none;
  color: white; 
  text-transform: uppercase;
  text-align: center;
  border: 1px white solid;
  padding: 2.1vh 2vw;
  width: 15vw;
  font-size: 2.5vh;
  outline: none !important;
}


 .lonelyLink {
   display: flex;
   justify-content: center;
   align-items: center;
 }

.filterPosts {
  display: flex;
  padding: 1.5em;
  justify-content: center;
  
}

/* .filter {
height: 6vh;
} */

.postLabels {
  margin: 0 10px;
}

.filterPosts select {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid black;
  width: 20%;
  outline: none;
}
.filterPosts select option:hover {
  content: attr(title);
  background: #666;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
}



.filterPosts select option {
  background: #f9f9f4;
  color: #000000; 
  box-shadow: none;
} 

option > a:hover {
  background-color: #000; 
  box-shadow: none;
  color:red;
}

.optionBox {
  color: slategray;
}

.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 0.5px #e0e0db solid;
  border-radius: 4px;
  padding: 1.5em;
  background-color: #f9f9f4;
  width: 40vw;
  margin: 0.7em;
}
.postText{
  color: #000;
  font-size: 4vh;
}

.postTitle {
  font-size: 5vh;
}

.posts:hover {
  background-image: url("/connect.jpg");
  /*background-size: 100%;*/
}

.post-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.singlePosts {
  display: flex;
  flex-direction: column;
}

.postLinks {
  text-decoration: none;
  color: #f19999;
}

.postLinks:hover {
  text-decoration: none;
  color: #000000;
}
