.postContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 3vh 55vw 0vh 3vw; */
    border: 0.5px #e0e0db solid;
    border-radius: 4px;
    padding: 1.5em;
    background-color: #f9f9f4;
    width: 45vw;
}

.posterContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 3vh 3vw 3vw 55vw; */
    border: 0.5px #e0e0db solid;
    border-radius: 4px;
    padding: 1.5em;
    background-color: #f9f9f4;
    width: 45vw;
}

.boxAlignment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4vh;
}

.times {
    display: flex;
    flex-direction: row;
}

.headerBox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

h2 {
    color: #f19999;
    font-size: 4vh;
}

h4 {
    font-size: 2.5vh; 
    margin-left: 2vw;
    color: rgba(0,0,0, .5);
}

.postDetailButton {
    margin-top: 3vh;
    font-size: 2vh;
    padding: .8vw 1vw;
    width: 15vw;
    border: 1.5px rgba(0,0,0, .5) solid;
}

.postDetailButton:hover {
    font-size: 2vh;
    padding: .9vw 1vw;
    width: 15vw;
    border: 0px white solid;
}

.messageButton {
    border: 1.5px rgba(0,0,0, .5) solid;
    font-size: 2vh;
    width: 15vw;
    padding: 1.5vh 2vw;
}

.messageButton:hover {
    border: .5px white solid;
    font-size: 2vh;
    width: 15vw;
    padding: 1.7vh 2vw;
}

.postLabel {
    font-size: 1.5vh;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0,0,0, .5);
    text-decoration: underline;
    width: 7vw;
    text-align: start;
}


.infoContainer {
    display: flex;
    flex-direction: column;
    margin: 2vh 2vw;
    align-items: flex-start;
}

.item {
    margin-right: 3vw;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

h6 {
    font-size: 2vh;
    margin-left: 2vw;
    width: 22vw;
    text-align: start;
}

.messageLabel {
    text-transform: uppercase;
    font-size: 2.5vh;
}

.messageInput {
    width: 40vw;
    outline: none;
    height: 10vh;
    padding: .5vw;
}

.messageContainer {
    display: flex;
    flex-direction: column;
}

.part {
    margin-bottom: 2vh;
}

.posterMainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 40vw;
}

.posterImage {
    margin-top: 2vh;
    margin-bottom: 3vh;
    border: 1.5px solid rgba(0,0,0, .5);
    height: 15vh;
}

.genderPic2 {
    height: 2vh;
    margin-left: 2vw;
}
